select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#card-element {
    background-color: #fff;
}

/* ------------------------------- */

#checkout-heading {
    font-size: 2rem;
    font-weight: bolder;
}