select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#card-element {
    background-color: #fff;
    height: calc(38px + 5px);
    border-radius: 5px;
    border: 5px solid hsl(0, 0%, 29%);
    text-align: center;
    padding-top: 7px;
}

#card-errors {
    font-weight: bold;
}

/* ------------------------------- */

#checkout-heading {
    font-size: 2rem;
    font-weight: bolder;
}

/*Bootstrap would set this to be 'underline'*/
a:hover {
    text-decoration: initial;
}

/*Bootstrap would set this to be '#fff'*/
.dropdown-menu {
    background-color: initial;
}

#submit-button {
    color: #fff;
    background-color: hsl(0, 0%, 29%);
    font-weight: bolder;
    margin-left: 1rem;
}

#submit-button:hover {
    border-color: #b5b5b5;
    color: #363636;
}
